version: '2'
services:

#  portainer:
#    container_name: portainer
#    image: portainer/portainer
#    restart: unless-stopped
#    ports:
#      - 9000:9000
#    volumes:
#      - /var/run/docker.sock:/var/run/docker.sock
#      - ./volumes/portainer/data:/data

  mongodb:
    container_name: lembrador-contas_mongodb
    image: mongo:latest
    ports:
      - 27017:27017
    volumes:
      - ./volumes/mongodb/data:/data/db

  lembrador-contas:
    container_name: lembrador-contas_app
    image: oven/bun:1-slim
    command: bash -c 'bun install && bun run start'
    working_dir: /root/lembrador-contas
    restart: unless-stopped
    depends_on:
      - mongodb
    environment:
      - MONGODB_IP=lembrador-contas_mongodb
    ports:
      - 9090:9090
      - 9091:9091
    volumes:
      - ./volumes/lembrador-contas:/root/lembrador-contas
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    stdin_open: true #docker run -i
    tty: true        #docker run -t
