<%- template.head %>

    <body>
        <%- template.navbar %>
            <div class="container">
                <row>
                    <div class="starter-template">
                        <h1 class="text-center title-1">
                            <%= title %>
                        </h1>
                        <br>
                        <form action="/tables/add" method="post">
                            <div class="form-group">
                                <label for="company">Nome</label>
                                <input type="text" class="form-control col-10 offset-1 col-sm-8 offset-sm-2" id="name" name="name" placeholder="Nome" aria-describedby="basic-addon1"
                                    required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="month">Mês</label>
                                <input type="text" class="form-control col-10 offset-1 col-sm-8 offset-sm-2" id="month" name="month" placeholder="Mês" aria-describedby="basic-addon1"
                                    required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="year">Ano</label>
                                <input type="text" class="form-control col-10 offset-1 col-sm-8 offset-sm-2" id="year" name="year" placeholder="Ano" aria-describedby="basic-addon1"
                                    required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="value">Valor</label>
                                <input type="text" class="form-control col-10 offset-1 col-sm-8 offset-sm-2" id="value" name="value" placeholder="Valor" aria-describedby="basic-addon1"
                                    required>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary center-block" value="Salvar" />
                            </div>
                        </form>
                    </div>
                </row>
            </div>
            <%- template.scripts %>
                <script>

                </script>
    </body>

    </html>