<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Bem vindo ao Lembrador de Contas</p>
  <ul>
    <li><a href="/userList">Listar Usuários</a></li>
    <li><a href="/billList">Listar Contas</a></li>
    <li><a href="/newUser">Cadastrar Usuários</a></li>
    <li><a href="/newBill">Cadastrar Contas</a></li>
  </ul>
</body>

</html>