<!DOCTYPE html>
<html lang="pt-br">
<head></head>
<body>
    <h1 class="text-center title-1">Cadastro de Contas</h1>
    <form action="/addBill" method="post">
        <p>Empresa:<input type="text" name="company" /></p>
        <p>FonteValor:<input type="text" name="valueSource" /></p>
        <p><input type="submit" value="Salvar" /></p>
    </form>
</body>
</html>