<%- template.head %>

    <body>
        <%- template.navbar %>
            <div class="container">
                <div class="starter-template">
                    <h1 class="title-1">
                        <%= title %>
                    </h1>
                    <br>
                    <form action="/users/add" method="post">
                        <div class="form-group">
                            <label for="username">Nome</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Nome"
                                aria-describedby="basic-addon1" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="useremail">Email</label>
                            <input type="email" class="form-control" id="useremail" name="useremail" placeholder="Email"
                                aria-describedby="basic-addon1" required>
                        </div>
                        <br>
                        <div class="form-group-btn">
                            <input type="submit" class="btn btn-primary center-block" value="Salvar" />
                        </div>
                    </form>
                </div>
            </div>
            <%- template.scripts %>
    </body>

    </html>