<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1 class="text-center title-1">Email Valor</h1>
    <ul>
        <li>Nome: <%= nome %></li>
        <li>Valor: <%= valor %></li>
    </ul>
</body>
</html>