<%- include ('../partials/header.ejs') %>

  <body>
    <%- template.navbar %>

      <div class="container">
        <div class="starter-template">
          <h1 class="text-center title-1">
            Bem vindo ao Lembrador de Contas
          </h1>
        </div>
      </div>

      <%- template.scripts %>
  </body>

  </html>