<!DOCTYPE html>
<html lang="pt-br">
<head></head>
<body>
 <h1 class="text-center title-1">Lista de Emails Não Lidos</h1>
 <ul>
 <% messageList.forEach(function(msg){ %>
 <li><a href=/emails/get/<%= msg.id %>><%= msg.id %></a>
 </li>
 <%})%>
 </ul>
</body>
</html>